body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  flex-grow: 2;
}

.sidebar {
  flex-grow: 1;
}

.section {
  margin: 20px;
  padding: 10px;
  background-color: #282c34;
  border-radius: 5px;
  color: #fff;
}

.done {
  text-decoration: line-through;
}

.todo-section--control-buttons {
   display: inline-flex;
   justify-content: space-between;
   width: 80%;
   max-width: 500px;
   margin-top: 20px;
}
